/* ================= ZUMME ================= */

@font-face {
  font-family: "Zumme";
  src: url("/src/assets/fonts/zumme/Zumme-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Zumme";
  src: url("/src/assets/fonts/zumme/Zumme-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Zumme";
  src: url("/src/assets/fonts/zumme/Zumme-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Zumme";
  src: url("/src/assets/fonts/zumme/Zumme-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Zumme";
  src: url("/src/assets/fonts/zumme/Zumme-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* ================= INTER ================= */

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
